body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  font-family: "Open Sans", sans-serif; /*Test*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: inherit;
  width: inherit;
  background-color: #b3ecec;
}

main{
  padding-top: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

nav, footer{
  font-family: "Rubik", sans-serif;
}

footer{
  border-top: 2px solid black;
  padding: 5% 0;
  /*background-color: #fff;*/
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer h2{
  font-family: "Poetsen One", sans-serif;
}


.contactForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inputPairArea{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.inputPair{
  width: 100%;
  display: grid;
  grid-template-columns: 25% 60%;
  grid-template-rows: auto;
  gap: 5%;
  align-items: center;
}

.inputPair label{
  text-align: right;
  padding: 0;
  margin: 0;
  user-select: none;
}

.inputPair textarea, .inputPair input{
  text-align: left;
}

.inputPair textarea{
  height: 88%;
}

.sendButton{
  color: black;
  padding: 0;
  padding-left: 8px;
  border: none;
  background-color: transparent;
  transition: all 250ms ease-in-out;
  height: fit-content;
  width: fit-content;
  transition: transform 750ms ease-in-out;
  font-size: 30px;
}

.sendButton:hover{
  color: blue;
}

.sent{
  color: green;
  transform: translateX(100vw);
}

.shake {
  animation: shake infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.positionsList{
  position: relative;
}

.socialsList ul{
  top: 85px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials{  
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 3px black;
}

.socials a{
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 45px;
}

input[type="text"],
input[type="email"], input[type="password"], input[type="number"], input[type="color"], textarea {
  padding: 6px;
  border: none;
  border-radius: 12px;
  box-shadow: var(--inset-container-shadow)
}

.notFound{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.fullHeight{
  height: 100vh;
}

.adminPage{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.adminForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
}

.adminForm table{
  width: 100%;
}

.adminForm table input, .adminForm table textarea{
  width: 100%;
}

.rowLine{
  border-bottom: 2px solid black;
}

.hide{
  display: none;
}

.headerFooterTable{
  border-top: 2px solid black;
}

.adminBtn{
  font-size: 25px;
  border: none;
  background-color: transparent;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  65% {
    transform: translate3d(-3px, 0, 0);
  }
}


