@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .col-flex-center{
    @apply flex flex-col items-center;
  }
  
  .nice-trans{
    @apply transition-all duration-300 ease-in-out;
  }
}

body {
  @apply m-0 p-0 min-h-screen;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App{
  @apply col-flex-center m-0 p-0 bg-[#b3ecec];
  font-family: "Open Sans", sans-serif; /*Test*/
  min-height: inherit;
  width: inherit;
}

main{
  @apply w-full col-flex-center flex-wrap overflow-hidden box-border pt-1;
}

nav, footer{
  @apply font-Rubik;
}

footer{
  @apply w-full h-fit flex justify-center py-[5%] px-0; 
  border-top: 2px solid black;
}

footer h2{
  font-family: "Poetsen One", sans-serif;
}


.contactForm{
  @apply w-full col-flex-center;
}

.inputPairArea{
  @apply w-full col-flex-center gap-2;
}

.inputPair{
  @apply w-full grid gap-[5%] items-center;
  grid-template-columns: 25% 60%;
  grid-template-rows: auto;
}

.inputPair label{
  @apply text-right p-0 m-0 select-none;
}

.inputPair textarea, .inputPair input{
  @apply text-left;
}

.inputPair textarea{
  @apply h-[88%];
}

.sendButton{
  @apply size-fit text-black p-0 pl-2 border-none bg-transparent text-3xl;
  @apply hover:text-blue-600;
  transition: all 250ms ease-in-out;
  transition: transform 750ms ease-in-out;
}

.buttonsNav{
  @apply flex justify-center items-center gap-4;
}

.buttonsNav button{
  @apply m-0 p-0;
}

.sent{
  @apply text-green-600;
  transform: translateX(100vw);
}

.shake {
  animation: shake infinite cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.positionsList{
  position: relative;
}

.socialsList ul{
  top: 85px;
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials{  
  @apply size-[40px] rounded bg-white flex items-center justify-center;
  box-shadow: 2px 2px 3px black;
}

.socials a{
  @apply text-white flex items-center justify-center text-[45px];
}

input[type="text"],
input[type="email"], input[type="password"], input[type="number"], input[type="color"], textarea {
  padding: 6px;
  border: none;
  border-radius: 12px;
  box-shadow: var(--inset-container-shadow)
}

.notFound{
  @apply size-full flex justify-center items-center;
}

.fullHeight{
  @apply min-h-screen;
}

.centerContent{
  @apply col-flex-center justify-center;
}

.adminPage{
  @apply w-3/4 col-flex-center justify-center;
}

.adminForm{
  @apply w-full col-flex-center gap-7;
}

.adminForm table{
  border: 1px solid black;
  background-color:rgb(178, 247, 224);
  width: 100%;
  box-shadow: 5px 3px 3px black;
}

.adminForm table input, .adminForm table textarea{
  width: 100%;
}

.rowLine{
  border-bottom: 2px solid black;
}

.hide{
  display: none;
}

.adminBtn{
  font-size: 25px;
  border: none;
  background-color: transparent;
}

.reviewItem{
  @apply rounded-md;
  padding: 1.5%;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.reviewItem h2{
  @apply border-b border-black font-Changa-One pb-0.5;
}

.reviewItem p{
  @apply font-Rubik;
}

.labelInputPair{
  @apply w-full flex items-center justify-center gap-1;
}

.labelInputPair input{
  @apply w-1/2;
}

.deletableReviews{
  @apply flex flex-col gap-1 p-1;
  border: 3px solid black;
}

.reviewToDelete{
  @apply flex items-center justify-center gap-1;
  border-bottom: 1px dashed black;
}
.reviewToDelete button{
  @apply outline-none border-none bg-transparent;
}

.labelNInput{
  @apply flex items-center gap-2;
}

.qualNDelete{
  @apply flex items-center gap-2;
}

.btn{
  @apply text-xl cursor-pointer;
}

.deleteBtn{
  @apply btn;
}

.enterBtn{
  @apply btn;
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  65% {
    transform: translate3d(-3px, 0, 0);
  }
}

@media screen and (min-width: 850px){
  main{
    @apply flex justify-center flex-wrap;
  }
}
