@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  .col-flex-center{
    @apply flex flex-col items-center;
  }
  
  .nice-trans{
    @apply transition-all duration-300 ease-in-out;
  }
}

  .dates{
    @apply w-full flex justify-center;
    /* border-top: 2px solid black; */
  }

  .datesFooter{
    @apply w-full flex justify-center;
  }
  
  .templateContainer{
    @apply w-full h-fit relative flex justify-center items-start p-0;
    /* height: 100vh;
    height: fit-content; */
  }

  .templateContainer img, .templateContainerEmpty{
    width: 100%;
  }

  .borderTopDash{
    border-top: 2px dashed black;
  }

  .spaceTop{
    margin-top: 5%;
  }

  .templateText{
    position: absolute;
  }

  .fullHeightWidth{
    @apply size-full;
  }

  .fullWidth{
    width: 100%;
  }

  .fitHeight{
    height: fit-content;
  }

  .textContainer{
    @apply col-flex-center justify-between text-center;
    padding-top: 5%;
    gap: 2%;
  }

  .textContainerFooter{
    @apply col-flex-center justify-center text-center pt-[5%] gap-[2%];
  }

  .textContainer p{
    font-size: 2.4vw;
  }

  .description{
    @apply w-[56%] m-0 p-0 pb-[1.5%] border-black border-b lg:border-none;   
    /* border-bottom: 1px solid black; */
  }

  .textContainer h2, .textContainerFooter h2{
    font-size: 4.5vw;
    font-family: "Poetsen One", sans-serif;
  }

  .textContainer h3{
    font-size: 3.5vw;
  }

  .middle{
    @apply w-full flex justify-center gap-[5%];
  }

  .times{
    @apply h-full flex items-center pl-[2%];
    border-left: 1px solid black;
  }

  .dateInfo{
    padding: 0 2%;
  }

  .bottom{
    @apply w-full flex flex-col justify-center pb-2;
  }

  .bottom p{
    @apply m-0 p-0 gap-0;
  }

  @media screen and (min-width: 850px){
    .datesFooter{
      /* border-top: 2px solid black; */
    }
    
    .datesSection{
      display: flex;
    }

    .textContainer h3{
      font-size: 1.6vw;
    }

    .textContainer h2, .textContainerFooter h2{
      font-size: 1.9vw;
      font-family: "Poetsen One", sans-serif;
    }

    .textContainer p{
      font-size: 1.4vw;
    }
  }

 